.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.RollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.RollDice button {
    align-self: center;
    background-color: #2a301b;
    color: white;
    width: 12em;
    border: 0px;
    border-radius: 50% 20% / 10% 40%;
    font-size: 25px;
    margin-top: 10px;
}

.RollDice button:hover {
    background-color: #60a12a;
    cursor: pointer;
}

.Die {
    font-size: 10em;
    padding: 1%;
    color: #60a12a;
    /* text-shadow: 5px 5px 2px #49532d; */
}

.shaking {
    animation-name: wobble;
    animation-duration: 1s;
}

@keyframes wobble {
    from {
        transform: translate3d(0, 0, 0);
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}